{% extends "layout.html" %} {% from "macros.html" import navbar %} {% block main %} {{ navbar('/') }}
<h1 class="text-left">Hola {{ user.name }}!</h1>
<p>Elije una respuesta a cada una de las preguntas y env&iacute;a el formulario.</p>
<p>&iexcl;Buena suerte!</p>
<form class="form-contol" method="post" action="/enviar_respuestas">
    {% for pregunta in nuevoObjeto %}
    <div class="trv-cajaPregunta">
        {{pregunta.question}}
        <div class="form-check">
            <input type="radio" class="form-check-input" id="radio1" name="radiosp{{pregunta.id}}" value="{{pregunta.p1}}">
            <label class="form-check-label">{{pregunta.p1}}</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="radio2" name="radiosp{{pregunta.id}}" value="{{pregunta.p2}}">
            <label class="form-check-label">{{pregunta.p2}}</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="radio3" name="radiosp{{pregunta.id}}" value="{{pregunta.p3}}">
            <label class="form-check-label">{{pregunta.p3}}</label>
        </div>
    </div>
    <input type="hidden" name="id" value="{{pregunta.id}}"> {% endfor %}
    <div class="row justify-content-end mt-2 mb-2">
        <div class="col-4">
            <div class="clearfix">
                <span class="float-end"><a href="/" class="btn btn-danger text-white">Cancelar</a></span>
            </div>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </div>
</form>
{% endblock %}